
body {
    text-align: center;
    color: #fff;
    background-color: #302345;
    font-family: 'Pacifico', cursive;
}

h1 {
    margin: 16px;
    font-size: 4em;
    font-weight: 100;
}

#canvas {
    min-width: 640px;
    min-height: 640px;
}
